/*---------------------------------------------------------------
Variables
----------------------------------------------------------------- */
/*======================== Custom Variable ======================*/
//theme color
$primary:#5867dd;
$secondary: #e8ecfa;
$accent: #5d78ff;
$error:#fd397a;
$info: #5578eb;
$success: #0abb87;
$warning: #ffb822;
$base:#FFF;
$base-200:#eee;
$black: #000;

//font color
$font-color:#3A405B;
$transparent: transparent;

//Pre Loader
$loader-bg:$transparent;
$loader-color:$primary;